{% extends "framework/base_with_dropdown.html" %}

{% block content %}
    <div class="admin-content-body" id="main" style="word-break:break-all;">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-cf">
                <strong class="am-text-primary am-text-lg">Docker</strong> / <small>Engine</small> / <small>详情</small>
                <a class="am-btn am-btn-danger am-fr" v-if="user_show.docker>1" title="慎点" @click="remove()">删除</a>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-panel am-panel-default">
                        <table class="am-table">
                            <tbody>
                            <tr>
                                <td colspan="2">ID</td>
                                <td>{{base.id}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">宿主机</td>
                                <td><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/ecs/detail?ecs_id={{base.host_id}}">{{base.host_id}}</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">名称</td>
                                <td>{{base.name}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">IP</td>
                                <td>{{base.ip}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">端口</td>
                                <td>{{base.port}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">CPU</td>
                                <td>
                                    {{base.cpu}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">内存</td>
                                <td>
                                    {{base.memory|adjustnum}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">公司</td>
                                <td>
                                    {{base.org}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">环境</td>
                                <td>
                                    {{base.env|get_env_name}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Cluster</td>
                                <td>
                                    <a href="{{url_for('docker_cluster_detail')}}?name={{base.cluster_name}}&org={{base.org}}&env={{base.env}}">{{base.cluster_name}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Registry</td>
                                <td>
                                    {{base.registry}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">引擎版本</td>
                                <td>
                                    {{base.version}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">内核版本</td>
                                <td>
                                    {{base.kernel_version}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">容器数量</td>
                                <td>
                                    {%if containers%}{{containers|length}}{%else%}-{%endif%} / {%if info%}{{info.get('Containers')}}{%else%}-{%endif%} (运行/总量)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">镜像数量</td>
                                <td>
                                    {%if images%}{{images|length}}{%else%}-{%endif%} / {%if info%}{{info.get('Images')}}{%else%}-{%endif%} (顶层镜像/总量)
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-panel am-panel-default" id="image-panel">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#image-panel', target: '#image-panel-bd'}">
                                Images
                                <span class="am-badge am-badge-primary am-round">数量: {%if images%}{{images|length}}{%else%}-{%endif%}</span>
                                <span class="am-fr am-icon-chevron-down"></span>
                            </h4>
                        </div>
                        <div class="am-panel-collapse am-collapse" id="image-panel-bd">
                            <div class="am-panel-bd">
                                <table class="am-table">
                                    <thead><tr>
                                        <th>ID</th>
                                        <th>Tag</th>
                                    </tr></thead>
                                    <tbody>
                                        {%if images%}{% for line in images %}
                                        <tr>
                                            <td>{{line.short_id}}</td>
                                            <td>
                                                {% for tag in line.tags %}<div>{{tag}}</div>{% endfor %}
                                            </td>
                                        </tr>
                                        {% endfor %}{%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-panel am-panel-default" id="container-panel">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#container-panel', target: '#container-panel-bd'}">
                                容器
                                <span class="am-badge am-badge-primary am-round">数量: {%if containers%}{{containers|length}}{%else%}-{%endif%}</span>
                                <span class="am-fr am-icon-chevron-down"></span>
                            </h4>
                        </div>
                        <div class="am-panel-collapse am-collapse am-in" id="container-panel-bd">
                            <div class="am-panel-bd">
                                <table class="am-table">
                                    <thead><tr>
                                        <th>ID</th>
                                        <th>名称</th>
                                        <th>镜像</th>
                                        <th>状态</th>
                                    </tr></thead>
                                    <tbody>
                                        {%if containers%}{% for line in containers %}
                                        <tr>
                                            <td>{{line.short_id}}</td>
                                            <td>{{line.name}}</td>
                                            <td>{{line.image}}</td>
                                            <td><span class="am-badge am-badge-primary">{{line.status}}</span></td>
                                        </tr>
                                        {% endfor %}{%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


{% endblock %}

{% block html %}

    <div id="errorModal">
        <dialog v-bind:show.sync="show">
            <span slot="header">提示</span>
            <span slot="body">${msg}</span>
            <span slot="footer" class="am-modal-btn" @click="close">确定</span>
        </dialog>
    </div>

    <div id="confirmModal">
        <dialog v-bind:show.sync="show">
            <span slot="header">确认</span>
            <span slot="body">${msg}</span>
            <span slot="footer" class="am-modal-btn" @click="close">取消</span>
            <span slot="footer" class="am-modal-btn" @click="commit">确定</span>
        </dialog>
    </div>

    <template id="dialog">
        <div>
            <div class="am-modal am-modal-alert" v-bind:class="{ 'am-modal-active': show }" tabindex="-1" v-if="show" style="display:block;z-index: 1501;">
                <div class="am-modal-dialog" style="width:350px;">
                    <div class="am-modal-hd">
                        <slot name="header"></slot>
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close @click="close">&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        <slot name="body"></slot>
                    </div>
                    <div class="am-modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            <div class="am-dimmer" data-am-dimmer v-bind:class="{ 'am-active': show }" v-if="show" style="display:block;"></div>
        </div>
    </template>
{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script language="JavaScript">
    data = {
        user_show: user_show,
        tag_list: [],
        addable_tag: []
    }

    new Vue({
        el: '#main',
        data: data,
        methods: {
            remove: function(event){
                confirmModal.msg = '确认要删除吗(不会实际影响主机上的Docker)?';
                confirmModal.show = true;
            }
        }
    });

    Vue.component('dialog', {
	    template: '#dialog',
	    props: {
	        show:{
	            type: Boolean,
	            default: false
	        }
	    },
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})
    var errorModal = new Vue({
	    el: '#errorModal',
	    data: {
			show: false,
			msg: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})
	var confirmModal = new Vue({
	    el: '#confirmModal',
	    data: {
			show: false,
			msg: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    },
		    commit:function(){
		        this.show = false;
                delete_engine();
		    },
	    }
	})

    function delete_engine(){
        jQuery.ajax({
            url: "{{url_for('docker_engine')}}",
            data: {'id':'{{base.id}}'},
            dataType: "json",
            type: "DELETE",
            timeout : timeout,
            success: function(response) {
                location.href="{{url_for('docker_engine_list')}}";
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
</script>
{% endblock %}
