{% extends "framework/base_with_dropdown.html" %}

{% block content %}

    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户与权限</strong> / <small>权限</small></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">角色</a></li>
                        <li><a href="#tab2">权限</a></li>
                        <li><a href="#tab3">角色与权限</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active" id="tab1">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn" id="btnCreateRole">新建角色</button>
                            </div>
                            <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-centered" id="role_list">
                                <thead>
                                <tr>
                                    <th class="table-id am-hide-sm-only">ID</th>
                                    <th class="table-title">角色名称</th>
                                    <th class="table-title">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="am-tab-panel am-active" id="tab2">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn" id="btnCreatePrivilege">新建权限</button>
                            </div>
                            <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-centered" id="privilege_list">
                                <thead>
                                <tr>
                                    <th class="table-id am-hide-sm-only">ID</th>
                                    <th class="table-title">权限名称</th>
                                    <th class="table-title">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="am-tab-panel am-active" id="tab3">
                            <div id="pad">
                                <br>
                                请先选择角色...
                                <br>
                                <br>
                            </div>
                            <div id="rp">
                                <h3 id="selected_role"></h3>
                                <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-centered" id="rp_list">
                                    <thead>
                                    <tr>
                                        <th class="table-title">权限名称</th>
                                        <th class="table-title">权限</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

{% endblock %}
{% block html %}

    <div class="am-modal am-modal-alert" style="z-index: 1501;" tabindex="1" id="errorModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd" id="error_msg">

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <div class="am-modal" style="z-index: 1501;" id="createRoleModal">
        <div class="am-modal-dialog" style="z-index: 101;">
            <div class="am-modal-hd">创建角色
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form action="" class="am-form">
                    <fieldset>
                        <div class="am-form-group">
                            <input type="text" id="createRoleName" minlength="3" data-foolish-msg="请输入正确的角色识别名"
                                   placeholder="输入角色识别名" required/>
                        </div>
                        <div class="am-form-group">
                            <input type="text" id="createRoleAlias" minlength="3" data-foolish-msg="请输入正确的角色名称"
                                   placeholder="输入角色名称" required/>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" id="createRole">确定</span>
            </div>
        </div>
    </div>

    <div class="am-modal" style="z-index: 1501;" tabindex="1" id="createPrivilegeModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">创建权限
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form action="" class="am-form">
                    <fieldset>
                        <div class="am-form-group">
                            <input type="text" id="createPrivilegeName" minlength="3" data-foolish-msg="请输入正确的权限识别名"
                                   placeholder="输入权限识别名" required/>
                        </div>
                        <div class="am-form-group">
                            <input type="text" id="createPrivilegeAlias" minlength="3" data-foolish-msg="请输入正确的权限名称"
                                   placeholder="输入权限名称" required/>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="am-modal-footer">
                <div class="am-btn-group">
                    <span class="am-modal-btn" id="createPrivilege">确定</span>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal" style="z-index: 1501;" tabindex="1" id="editRoleModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">编辑角色
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form action="" class="am-form">
                    <fieldset>
                        <div class="am-form-group">
                            <input type="text" id="editRoleName" minlength="3" data-foolish-msg="请输入正确的权限识别名"
                                   disabled="disabled"/>
                        </div>
                        <div class="am-form-group">
                            <input type="text" id="editRoleAlias" minlength="3" data-foolish-msg="请输入正确的权限名称"
                                   placeholder="输入权限名称" required/>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="am-modal-footer">
                <div class="am-btn-group">
                    <input type="hidden" id="editRoleId"/>
                    <span class="am-modal-btn" id="editRole">确定</span>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal" style="z-index: 1501;" tabindex="1" id="editPrivilegeModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">编辑角色
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form action="" class="am-form">
                    <fieldset>
                        <div class="am-form-group">
                            <input type="text" id="editPrivilegeName" minlength="3" data-foolish-msg="请输入正确的角色识别名"
                                   disabled="disabled"/>
                        </div>
                        <div class="am-form-group">
                            <input type="text" id="editPrivilegeAlias" minlength="3" data-foolish-msg="请输入正确的角色名称"
                                   placeholder="输入角色名称" required/>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="am-modal-footer">
                <div class="am-btn-group">
                    <input type="hidden" id="editPrivilegeId"/>
                    <span class="am-modal-btn" id="editPrivilege">确定</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script language="JavaScript">
    $(document).ready(function() {

        load_role_list();
        load_privilege_list();

        $("#btnCreateRole").click(function(){
            $("#createRoleName").val('');
            $("#createRoleAlias").val('');
            $("#createRoleModal").modal({
                width: 300
            });
        });

        $("#createRole").click(function(){
            name = $("#createRoleName").val();
            alias = $("#createRoleAlias").val();
            create_role(name,alias);
        });

        $("#editRole").click(function(){
            role_id = $("#editRoleId").val();
            alias = $("#editRoleAlias").val();
            edit_role(role_id, alias);
        });

        $("#btnCreatePrivilege").click(function(){
            $("#createPrivilegeName").val('');
            $("#createPrivilegeAlias").val('');
            $("#createPrivilegeModal").modal({
                width: 300
            });
        });

        $("#createPrivilege").click(function(){
            name = $("#createPrivilegeName").val();
            alias = $("#createPrivilegeAlias").val();
            create_privilege(name,alias,1,0);
        });

        $("#editPrivilege").click(function(){
            privilege_id = $("#editPrivilegeId").val();
            alias = $("#editPrivilegeAlias").val();
            edit_privilege(privilege_id, alias);
        });
    });
    function create_role(name,alias){
        $.AMUI.progress.start();
        console.log("start create role");
        jQuery.ajax({
            url: "{{url_for('admin_role__role')}}",
            dataType: "json",
            data: {"name":name, "alias":alias, "r":Math.random()},
            type: "PUT",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                if(response.result==2){
                    alert("已存在同名角色！");
                }else{
                    load_role_list();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function create_privilege(name,alias,read,write){
        $.AMUI.progress.start();
        console.log("start create privilege");
        jQuery.ajax({
            url: "{{url_for('admin_role__privilege')}}",
            dataType: "json",
            data: {"name":name, "alias":alias, "read":read, "write":write, "r":Math.random()},
            type: "PUT",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                if(response.result==2){
                    alert("已存在同名权限！");
                }else{
                    load_privilege_list();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function hide_rp(){
        $("#pad").show();
        $("#rp").hide();
    }
    function load_role_list(){
        $.AMUI.progress.start();
        console.log("start load role list");
        jQuery.ajax({
            url: "{{url_for('admin_role__role')}}",
            dataType: "json",
            data: {"r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                $("#role_list tbody").empty()
                response.data.forEach(function(e){
                    var row = $('<tr>'+
                                '<td class="am-hide-sm-only role-id">'+e.id+'</td>'+
                                '<td class="role-alias-line"><a href="#" class="role-alias">'+e.alias+'</a></td>'+
                                '<td>'+
                                '<div class="am-btn-group am-btn-group-xs">'+
                                '<button class="role-edit am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o am-icon-fw"></span> 编辑</button>'+
                                '<button class="role-delete am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o am-icon-fw"></span> 删除</button>'+
                                '<input type="hidden" class="role-name" value="'+e.name+'"/>',
                                '</div>'+
                                '</td>'+
                                '</tr>');
                    $("#role_list tbody").append(row);
                });
                hide_rp();
                activeClickEvent();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function load_privilege_list(){
        $.AMUI.progress.start();
        console.log("start load privilege list");
        jQuery.ajax({
            url: "{{url_for('admin_role__privilege')}}",
            dataType: "json",
            data: {"r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                $("#privilege_list tbody").empty()
                response.data.forEach(function(e){
                    t = '<tr>'+
                        '<td>'+e.id+'</td>'+
                        '<td class="privilege-alias">'+e.alias+'</td>'+
                        '<td>'+
                        '<input type="hidden" class="privilege-id" value="'+e.id+'"/>'+
                        '<input type="hidden" class="privilege-name" value="'+e.name+'"/>'+
                        '<div class="am-btn-group am-btn-group-xs">'+
                        '<button class="privilege-edit am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o am-icon-fw"></span> 编辑</button>'+
                        '<button class="privilege-delete am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o am-icon-fw"></span> 删除</button>'+
                        '</div>'+
                        '</td>'+
                        '</tr>'
                    var row = $(t);
                    $("#privilege_list tbody").append(row);
                });
                hide_rp();
                activeClickEvent2();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function load_rp_list(role_id){
        $.AMUI.progress.start();
        console.log("start load privilege list");
        jQuery.ajax({
            url: "{{url_for('admin_role__privilege')}}",
            dataType: "json",
            data: {"roleId":role_id, "r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                $("#rp_list tbody").empty()
                response.data.forEach(function(e){
                    t = '<tr>'+
                        '<td class="privilege-alias">'+e.privilege_alias+'</td>'+
                        '<td>'+
                        '<div class="am-btn-group am-btn-group-xs">'+
                        '<input type="hidden" class="privilege-id" value="'+e.privilege_id+'"/>'+
                        '<input type="hidden" class="privilege-name" value="'+e.privilege_name+'"/>'
                    if(e.rw==2){
                        t+='<input type="hidden" class="read" value="1"/>'
                        t+='<button class="am-btn am-btn-default am-btn-xs btn-read"><span class="am-icon-check-square-o am-icon-fw"></span> 读</button>'
                        t+='<input type="hidden" class="write" value="1"/>'
                        t+='<button class="am-btn am-btn-default am-btn-xs btn-write"><span class="am-icon-check-square-o am-icon-fw"></span> 写</button>'
                    }else if(e.rw==1){
                        t+='<input type="hidden" class="read" value="1"/>'
                        t+='<button class="am-btn am-btn-default am-btn-xs btn-read"><span class="am-icon-check-square-o am-icon-fw"></span> 读</button>'
                        t+='<input type="hidden" class="write" value="0"/>'
                        t+='<button class="am-btn am-btn-default am-btn-xs btn-write"><span class="am-icon-square-o am-icon-fw"></span> 写</button>'
                    }else{
                        t+='<input type="hidden" class="read" value="0"/>'
                        t+='<button class="am-btn am-btn-default am-btn-xs btn-read"><span class="am-icon-square-o am-icon-fw"></span> 读</button>'
                        t+='<input type="hidden" class="write" value="0"/>'
                        t+='<button class="am-btn am-btn-default am-btn-xs btn-write"><span class="am-icon-square-o am-icon-fw"></span> 写</button>'
                    }
                    t += '</div>'+
                        '</td>'+
                        '</tr>'
                    var row = $(t);
                    $("#rp_list tbody").append(row);
                });
                activeClickEvent3(role_id);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function activeClickEvent(){
        $(".role-alias").click(function(){
            role_id = $(this).parent().parent().children('.role-id').html();
            load_rp_list(role_id);
            $("#pad").hide();
            $("#rp").show();
            $("#tabs").tabs('open',2);
            $("#selected_role").html("角色["+$(this).html()+"]的权限:");
        });
        $(".role-edit").click(function(){
            role_id = $(this).parent().parent().parent().children('.role-id').html();
            role_alias = $(this).parent().parent().parent().children('.role-alias-line').children('.role-alias').html();
            role_name = $(this).parent().children('.role-name').val();
            console.log('role-edit:'+role_id+';'+role_alias+';'+role_name);
            $('#editRoleId').val(role_id);
            $('#editRoleName').val(role_name);
            $('#editRoleAlias').val(role_alias);
            $("#editRoleModal").modal({
                width: 300
            })
        });
        $(".role-delete").click(function(){
            if(confirm("确认删除吗？")){
                role_id = $(this).parent().parent().parent().children('.role-id').html();
                console.log('role-delete:'+role_id);
                delete_role(role_id);
            }
        });
    }
    function activeClickEvent2(){
        $(".privilege-edit").click(function(){
            privilege_id = $(this).parent().parent().children('.privilege-id').val();
            privilege_alias = $(this).parent().parent().parent().children('.privilege-alias').html();
            privilege_name=$(this).parent().parent().children('.privilege-name').val();
            console.log('privilege-edit:'+privilege_id+';'+privilege_alias+';'+privilege_name+';');
            $('#editPrivilegeId').val(privilege_id);
            $('#editPrivilegeName').val(privilege_name);
            $('#editPrivilegeAlias').val(privilege_alias);
            $("#editPrivilegeModal").modal({
                width: 300
            })
        });
        $(".privilege-delete").click(function(){
            if(confirm("确认删除吗？")){
                privilege_id = $(this).parent().parent().children('.privilege-id').val();
                console.log('privilege-delete:'+privilege_id);
                delete_privilege(privilege_id);
            }
        });
    }
    function activeClickEvent3(role_id){
        $(".btn-read").click(function(){
            privilege_id=$(this).parent().children('.privilege-id').val()
            oread=$(this).parent().children('.read').val()
            write=0
            $(this).parent().children('.write').val(0)
            $(this).parent().children('.btn-write').children('span').removeClass('am-icon-check-square-o')
            $(this).parent().children('.btn-write').children('span').addClass('am-icon-square-o')
            if(oread==1){
                read=0
                $(this).parent().children('.read').val(0)
                $(this).children('span').removeClass('am-icon-check-square-o')
                $(this).children('span').addClass('am-icon-square-o')
            }else{
                read=1
                $(this).parent().children('.read').val(1)
                $(this).children('span').removeClass('am-icon-square-o')
                $(this).children('span').addClass('am-icon-check-square-o')
            }
            console.log("read:"+read+";write:"+write)
            make_link(role_id, privilege_id, read, write)
        });
        $(".btn-write").click(function(){
            privilege_id=$(this).parent().children('.privilege-id').val()
            oread=$(this).parent().children('.read').val()
            owrite=$(this).parent().children('.write').val()
            if(owrite==1){
                write=0
                read=oread
                $(this).parent().children('.write').val(0)
                $(this).children('span').removeClass('am-icon-check-square-o')
                $(this).children('span').addClass('am-icon-square-o')
            }else{
                write=1
                read=1
                $(this).parent().children('.read').val(1)
                $(this).parent().children('.btn-read').children('span').removeClass('am-icon-square-o')
                $(this).parent().children('.btn-read').children('span').addClass('am-icon-check-square-o')
                $(this).parent().children('.write').val(1)
                $(this).children('span').removeClass('am-icon-square-o')
                $(this).children('span').addClass('am-icon-check-square-o')
            }
            console.log("read:"+read+";write:"+write)
            make_link(role_id, privilege_id, read, write)
        });
    }
    function make_link(role_id,privilege_name,read,write){
        $.AMUI.progress.start();
        console.log("start make link");
        jQuery.ajax({
            url: "{{url_for('admin_role__privilege')}}",
            dataType: "json",
            data: {"roleId": role_id, "privilegeId":privilege_id, "read":read, "write":write, "r":Math.random()},
            type: "LINK",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function delete_role(role_id){
        $.AMUI.progress.start();
        console.log("start delete role");
        jQuery.ajax({
            url: "{{url_for('admin_role__role')}}",
            dataType: "json",
            data: {"id": role_id, "r":Math.random()},
            type: "DELETE",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                load_role_list();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function delete_privilege(privilege_id){
        $.AMUI.progress.start();
        console.log("start delete privilege");
        jQuery.ajax({
            url: "{{url_for('admin_role__privilege')}}",
            dataType: "json",
            data: {"id": privilege_id, "r":Math.random()},
            type: "DELETE",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                load_privilege_list()
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function edit_role(role_id, alias){
        $.AMUI.progress.start();
        console.log("start delete role");
        jQuery.ajax({
            url: "{{url_for('admin_role__role')}}",
            dataType: "json",
            data: {"id": role_id, "alias":alias, "r":Math.random()},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                load_role_list();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function edit_privilege(privilege_id, alias){
        $.AMUI.progress.start();
        console.log("start delete privilege");
        jQuery.ajax({
            url: "{{url_for('admin_role__privilege')}}",
            dataType: "json",
            data: {"id": privilege_id, "alias":alias, "r":Math.random()},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                load_privilege_list()
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
</script>
{% endblock %}