{% extends "framework/base.html" %}



{% block menu %}

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas" style="background:#2E363F;overflow: auto;">
        <div class="am-offcanvas-bar admin-offcanvas-bar am-offcanvas-bar-overlay" style="height:100%;">
            <ul class="am-list admin-sidebar-list">
                <li style="background:#2E363F;"><a href="{{url_for('home')}}" style="color:#999;" ><span class="am-icon-home am-icon-sm am-icon-fw"></span>&nbsp&nbsp首页</a></li>
                <li class="admin-parent" style="background:#2E363F;" v-if="docker>0">
                    <a class="am-cf am-collapsed" style="color:#999;" data-am-collapse="{target: '#sub-menu-docker'}"><span class="am-icon-inbox am-icon-sm am-icon-fw"></span>&nbsp&nbspDocker <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub" id="sub-menu-docker" style="background:#444">
                        <li><a href="{{url_for('docker_engine_list')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-cog am-icon-fw"></span> Engine</a></li>
                        <li><a href="{{url_for('docker_cluster_list')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-cogs am-icon-fw"></span> Cluster</a></li>
                    </ul>
                </li>
                <li class="admin-parent" style="background:#2E363F;" v-if="task_config>0">
                    <a class="am-cf am-collapsed" style="color:#999;" data-am-collapse="{target: '#sub-menu-task'}"><span class="am-icon-font-awesome am-icon-sm am-icon-fw"></span>&nbsp&nbsp定时任务 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub" id="sub-menu-task" style="background:#444">
                        <li><a href="{{url_for('task_runonce')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-hourglass-1 am-icon-fw"></span> 手工调度</a></li>
                        <li><a href="{{url_for('task_config')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-bell am-icon-fw"></span> 任务配置</a></li>
                        <li><a href="{{url_for('task_his')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-calendar am-icon-fw"></span> 执行记录</a></li>
                    </ul>
                </li>
                <li class="admin-parent" style="background:#2E363F;" v-if="admin_user>0">
                    <a class="am-cf am-collapsed" data-am-collapse="{target: '#sub-menu-user'}" style="color:#999;"><span class="am-icon-black-tie am-icon-sm am-icon-fw"></span>&nbsp&nbsp用户与权限 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub" id="sub-menu-user" style="background:#444">
                        <li><a href="{{url_for('admin_user')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-users am-icon-fw"></span> 用户</a></li>
                        <li><a href="{{url_for('admin_role')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-key am-icon-fw"></span> 权限</a></li>
                        <li><a href="{{url_for('login_his')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-list-ol am-icon-fw"></span> 登录记录</a></li>
                        <li><a href="{{url_for('api_list')}}" class="am-cf" style="background:#000;color:#BBB;"><span class="am-icon-plug am-icon-fw"></span> API管理</a></li>
                    </ul>
                </li>
            </ul>
            {% block sub_alert %}
            {% endblock %}
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class="admin-content">
        {% block content %}

        {% endblock %}
    </div>
    <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" style="z-index:1500;" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% endblock %}
