{% extends "framework/base.html" %}



{% block menu %}
    <div id="menu">
    <div id="aliyun_dropdown_menu" class="dropdown_menu am-g am-collapse">
        <div  class="am-u-sm-12 am-u-md-3 aliyun_dropdown_item" v-if="aliyun_ecs>0 || aliyun_rds>0 || aliyun_slb>0 || aliyun_sg>0 || aliyun_dns>0 || aliyun_oss>0 || aliyun_ons>0 || aliyun_ram>0 || aliyun_redis>0" >
            <div class="title"><span class="am-cf"><span class="am-icon-cloud am-icon-fw"></span> 资源管理</span></div>
            <div class="item" v-if="aliyun_ecs>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/ecs/list" class="am-cf"><span class="am-icon-desktop am-icon-fw"></span><small> ECS</small><i></i></a></div>
            <div class="item" v-if="aliyun_rds>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/rds/list" class="am-cf"><span class="am-icon-database am-icon-fw"></span><small> RDS</small><i></i></a></div>
            <div class="item" v-if="aliyun_slb>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/slb/list" class="am-cf"><span class="am-icon-sitemap am-icon-fw"></span><small> SLB</small><i></i></a></div>
            <div class="item" v-if="aliyun_sg>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/sg/list" class="am-cf"><span class="am-icon-lock am-icon-fw"></span><small> 安全组</small><i></i></a></div>
            <div class="item" v-if="aliyun_dns>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/dns/list" class="am-cf"><span class="am-icon-globe am-icon-fw"></span><small> DNS</small><i></i></a></div>
            <div class="item" v-if="aliyun_oss>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/oss/list" class="am-cf"><span class="am-icon-archive am-icon-fw"></span><small> 对象存储</small><i></i></a></div>
            <div class="item" v-if="aliyun_ons>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/ons/list" class="am-cf"><span class="am-icon-bullhorn am-icon-fw"></span><small> 消息队列</small><i></i></a></div>
            <div class="item" v-if="aliyun_ram>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/ram/list" class="am-cf"><span class="am-icon-users am-icon-fw"></span><small> RAM子账号</small><i></i></a></div>
            <div class="item" v-if="aliyun_redis>0"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/redis/list" class="am-cf"><span class="am-icon-users am-icon-fw"></span><small> Redis</small><i></i></a></div>
        </div>
        <!--<div  class="am-u-sm-12 am-u-md-4 borderLeft aliyun_dropdown_item" v-if="aliyun_bill>0">-->
            <!--<div class="title"><span class="am-cf"><span class="am-icon-money am-icon-fw"></span> 查看账单</span></div>-->
            <!--<div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/list" class="am-cf"><span class="am-icon-list-ul am-icon-fw"></span><small> 账单详情</small><i></i></a></div>-->
            <!--<div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/resources_by_accounts" class="am-cf"><span class="am-icon-bar-chart am-icon-fw"></span><small> 账号资源费用展示</small><i></i></a></div>-->
            <!--<div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/percent_by_accounts" class="am-cf"><span class="am-icon-pie-chart am-icon-fw"></span><small> 账号金额占比</small><i></i></a></div>-->
            <!--<div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/percent_by_resources" class="am-cf"><span class="am-icon-pie-chart am-icon-fw"></span><small> 资源金额占比</small><i></i></a></div>-->
            <!--<div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/all_year_bill" class="am-cf"><span class="am-icon-bar-chart am-icon-fw"></span><small> 全年汇总</small><i></i></a></div>-->
            <!--<div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/yesterday_bill_info" class="am-cf"><span class="am-icon-trello am-icon-fw"></span><small> 昨日明细</small><i></i></a></div>-->
        <!--</div>-->
        <div  class="am-u-sm-12 am-u-md-3 borderLeft aliyun_dropdown_item" v-if="aliyun_bill>0">
            <div class="title"><span class="am-cf"><span class="am-icon-money am-icon-fw"></span> 报销账单</span></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/list" class="am-cf"><span class="am-icon-list-ul am-icon-fw"></span><small> 日详单</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/account_collect" class="am-cf"><span class="am-icon-bar-chart am-icon-fw"></span><small> 账号汇总</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/bill/company_collect" class="am-cf"><span class="am-icon-pie-chart am-icon-fw"></span><small> 公司汇总</small><i></i></a></div>
        </div>
        <div  class="am-u-sm-12 am-u-md-3 borderLeft aliyun_dropdown_item" v-if="za_finance==2 || zatech_finance==2" >
            <div class="title"><span class="am-cf"><span class="am-icon-money am-icon-fw"></span> GAAP</span></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/gaap/list" class="am-cf"><span class="am-icon-list-ul am-icon-fw"></span><small> GAAP详单</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/gaap/account/bill" class="am-cf"><span class="am-icon-bar-chart am-icon-fw"></span><small> 账号汇总</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/gaap/company/bill" class="am-cf"><span class="am-icon-pie-chart am-icon-fw"></span><small> 公司汇总</small><i></i></a></div>
        </div>
        <div  class="am-u-sm-12 am-u-md-4 borderLeft aliyun_dropdown_item" v-if="dns>0">
            <div class="title"><span class="am-cf"><span class="am-icon-globe am-icon-fw"></span> 自建DNS</span></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/dns/nameserver/list" class="am-cf"><span class="am-icon-server am-icon-fw"></span><small> 域名服务器</small></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/dns/record/list" class="am-cf"><span class="am-icon-map-marker am-icon-fw"></span><small> DNS记录</small></a></div>
        </div>
    </div>
    <div id="app_dropdown_menu" class="dropdown_menu am-g am-collapse">
        <div class="am-u-sm-12 am-u-md-4 am-u-end app_dropdown_item" v-if="app>0 || app_protect>0" >
            <div class="title"><span class="am-cf"><span class="am-icon-apple am-icon-fw"></span> 应用</span></div>
            <div class="item" v-if="app>0"><a href="{{config['APPREPO_URL']}}/app/company/list" class="am-cf"><span class="am-icon-sitemap am-icon-fw"></span><small> 逐级查看</small><i></i></a></div>
            <div class="item" v-if="app>0"><a href="{{config['APPREPO_URL']}}/app/project/list" class="am-cf"><span class="am-icon-cubes am-icon-fw"></span><small> 应用列表</small><i></i></a></div>
            <div class="item" v-if="app>0"><a href="{{config['APPREPO_URL']}}/app/system/list" class="am-cf"><span class="am-icon-cubes am-icon-fw"></span><small> 应用系统管理</small><i></i></a></div>
            <div class="item" v-if="app_protect>0"><a href="{{config['APPREPO_URL']}}/app/protect_project/list" class="am-cf"><span class="am-icon-ban am-icon-fw"></span><small> 保护应用列表</small><i></i></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-4 am-u-end borderLeft app_dropdown_item" v-if="svn>0">
            <div class="title"><span class="am-cf"><span class="am-icon-database am-icon-fw"></span> SVN</span></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/svn/server/list" class="am-cf"><span class="am-icon-sitemap am-icon-fw"></span><small> 逐级查看</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/svn/project/all/list" class="am-cf"><span class="am-icon-cubes am-icon-fw"></span><small> 所有项目</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/svn/user/list" class="am-cf"><span class="am-icon-users am-icon-fw"></span><small> 用户管理</small><i></i></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-4 am-u-end borderLeft app_dropdown_item" v-if="git>0">
            <div class="title"><span class="am-cf"><span class="am-icon-gitlab am-icon-fw"></span> Git</span></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/git/server/list" class="am-cf"><span class="am-icon-sitemap am-icon-fw"></span><small> 逐级查看</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/git/server/list" class="am-cf"><span class="am-icon-cubes am-icon-fw"></span><small> 所有项目</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/git/user/list" class="am-cf"><span class="am-icon-users am-icon-fw"></span><small> 用户管理</small><i></i></a></div>
        </div>
    </div>
    <div id="docker_dropdown_menu" class="dropdown_menu am-g am-collapse">
        <div class="am-u-sm-12 am-u-md-6 am-u-end docker_dropdown_item" v-if="docker>0">
            <div class="title"><span class="am-cf"><span class="am-icon-inbox am-icon-fw"></span> Docker</span></div>
            <div class="item"><a href="{{config['CMDB_DOCKER_URL']}}/docker/engine/list" class="am-cf"><span class="am-icon-gear am-icon-fw"></span><small> Engine</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_DOCKER_URL']}}/docker/cluster/list" class="am-cf"><span class="am-icon-gears am-icon-fw"></span><small> Cluster</small><i></i></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-6 am-u-end borderLeft docker_dropdown_item" v-if="docker>0">
            <div class="title"><span class="am-cf"><span class="am-icon-inbox am-icon-fw"></span> Kubernetes</span></div>
            <div class="item"><a href="{{config['CMDB_DOCKER_URL']}}/docker/k8s_node/list" class="am-cf"><span class="am-icon-gear am-icon-fw"></span><small> Nodes</small></a></div>
            <div class="item"><a href="{{config['CMDB_DOCKER_URL']}}/docker/k8s_cluster/list" class="am-cf"><span class="am-icon-gears am-icon-fw"></span><small> Cluster</small></a></div>
        </div>
    </div>
    <div id="admin_dropdown_menu" class="dropdown_menu am-g am-collapse" v-if="task_config>0 || admin_user>0 || tag>0 || resource>0 || app_arrange>0">
        <div class="am-u-sm-12 am-u-md-3 am-u-end admin_dropdown_item" v-if="task_config>0">
            <div class="title"><span class="am-cf"><span class="am-icon-font-awesome am-icon-fw"></span>定时任务</span></div>
            <div class="item"><a href="{{url_for('task_runonce')}}" class="am-cf"><span class="am-icon-hourglass-1 am-icon-fw"></span><small> 手工调度</small><i></i></a></div>
            <div class="item"><a href="{{url_for('task_config')}}" class="am-cf"><span class="am-icon-bell am-icon-fw"></span><small> 任务配置</small><i></i></a></div>
            <div class="item"><a href="{{url_for('task_his')}}" class="am-cf"><span class="am-icon-calendar am-icon-fw"></span><small> 执行记录</small><i></i></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-2 am-u-end borderLeft admin_dropdown_item" v-if="admin_user>0">
            <div class="title"><span class="am-cf"><span class="am-icon-black-tie am-icon-fw"></span>用户与权限</span></div>
            <div class="item"><a href="{{url_for('admin_user')}}" class="am-cf"><span class="am-icon-users am-icon-fw"></span><small> 用户</small><i></i></a></div>
            <div class="item"><a href="{{url_for('admin_role')}}" class="am-cf"><span class="am-icon-key am-icon-fw"></span><small> 权限</small><i></i></a></div>
            <div class="item"><a href="{{url_for('login_his')}}" class="am-cf"><span class="am-icon-list-ol am-icon-fw"></span><small> 登录记录</small><i></i></a></div>
            <div class="item"><a href="{{url_for('api_list')}}" class="am-cf"><span class="am-icon-plug am-icon-fw"></span><small> API管理</small><i></i></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-2 am-u-end borderLeft admin_dropdown_item" v-if="app_arrange>0">
            <div class="title"><span class="am-cf"><span class="am-icon-gears am-icon-fw"></span>应用服务器编排</span></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/arrange/app_arrange/prd/list" class="am-cf"><span class="am-icon-cube am-icon-fw"></span><small> 生产环境编排</small></a></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/arrange/app_arrange/pre/list" class="am-cf"><span class="am-icon-cube am-icon-fw"></span><small> 预发环境编排</small></a></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/arrange/res_pool/list" class="am-cf"><span class="am-icon-cube am-icon-fw"></span><small> 资源池管理(预发)</small></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-2 am-u-end borderLeft admin_dropdown_item" v-if="tag>0">
            <div class="title"><span class="am-cf"><span class="am-icon-cube am-icon-fw"></span>模块</span></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/module/list" class="am-cf"><span class="am-icon-cube am-icon-fw"></span><small> 模块管理</small></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-2 am-u-end borderLeft admin_dropdown_item" v-if="tag>0">
            <div class="title"><span class="am-cf"><span class="am-icon-tag am-icon-fw"></span>标签</span></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/tag/list" class="am-cf"><span class="am-icon-tag am-icon-fw"></span><small> 标签管理</small></a></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/tag_type/list" class="am-cf"><span class="am-icon-tag am-icon-fw"></span><small> 标签类型管理</small></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-3 am-u-end borderLeft admin_dropdown_item" v-if="resource>0">
            <div class="title"><span class="am-cf"><span class="am-icon-archive am-icon-fw"></span>资源</span></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/resource/list" class="am-cf"><span class="am-icon-archive am-icon-fw"></span><small> 资源管理</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/resource_type/list" class="am-cf"><span class="am-icon-archive am-icon-fw"></span><small> 资源类型管理</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_CORE_URL']}}/resource/add_tag" class="am-cf"><span class="am-icon-archive am-icon-fw"></span><small> 批量修改标签</small><i></i></a></div>
        </div>
        <div class="am-u-sm-12 am-u-md-3 am-u-end borderLeft admin_dropdown_item">
            <div class="title"><span class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span>资源变更与下线</span></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/resources/archive" class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span><small> 资源下线</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/resources/exchange" class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span><small> 资源负责人变更</small><i></i></a></div>
            <div class="item"><a href="{{config['CMDB_ALIYUN_URL']}}/resources/dept/exchange" class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span><small> 资源部门变更</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/app/archive" class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span><small> 应用下线</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/app/exchange" class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span><small> 应用负责人变更</small><i></i></a></div>
            <div class="item"><a href="{{config['APPREPO_URL']}}/app/dept/exchange" class="am-cf"><span class="am-icon-gear am-icon-spin am-icon-fw"></span><small> 应用部门变更</small><i></i></a></div>
        </div>
    </div>
</div>
    <script language="JavaScript">
        user_show = {};
        {% for k,v in session['userPrivileges'].items() %}
            user_show['{{k}}'] = '{{v}}'
        {% endfor %}

        new Vue({
            el: '#menu',
            data: user_show
        })
        $(document).ready(function(){
            hide_all_menu();

            $('#aliyun_nav').mouseover(function(){
                hide_all_menu();
                $('#aliyun_dropdown_menu').show();
                $('#topbar-collapse').removeClass('am-in');
            });
            $('#aliyun_dropdown_menu').hover(function(){
                $('#aliyun_dropdown_menu').show();
            }, function(){
                $('#aliyun_dropdown_menu').hide();
            });

            $('#app_nav').mouseover(function(){
                hide_all_menu();
                $('#app_dropdown_menu').show();
                $('#topbar-collapse').removeClass('am-in');
            });
            $('#app_dropdown_menu').hover(function(){
                $('#app_dropdown_menu').show();
            }, function(){
                $('#app_dropdown_menu').hide();
            });


            $("#docker_nav").mouseover(function(){
                hide_all_menu();
                $('#docker_dropdown_menu').show();
                $('#topbar-collapse').removeClass('am-in');
            });
            $('#docker_dropdown_menu').hover(function(){
                $('#docker_dropdown_menu').show();
            }, function(){
                $('#docker_dropdown_menu').hide();
            });

            $("#admin_nav").mouseover(function(){
                hide_all_menu();
                $('#admin_dropdown_menu').show();
                $('#topbar-collapse').removeClass('am-in');
            });
            $('#admin_dropdown_menu').hover(function(){
                $('#admin_dropdown_menu').show();
            }, function(){
                $('#admin_dropdown_menu').hide();
            });
        });
        function hide_all_menu(){
            $('#aliyun_dropdown_menu').hide();
            $('#app_dropdown_menu').hide();
            $('#docker_dropdown_menu').hide();
            $('#admin_dropdown_menu').hide();
        }
    </script>

    <div class="am-cf admin-main">
        <div class="admin-content" style="overflow:auto;min-height:100%;">
            {% block content %}

            {% endblock %}
        </div>
        <!--
        <footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }" style="height:64px;margin-top:-64px;">
            <div class="am-footer-miscs ">
                <p>联系我们<a href="mailto:devops@zhongan.com" target="_blank" class="">devops</a></p>
                <p>CopyRight©2017  Zhongan Inc.</p>
            </div>
        </footer>
        -->
    </div>

{% endblock %}