<!DOCTYPE html>
<html  class="no-js fixed-layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>CMDB - {{title}}</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}?r=20171201">
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<script language="javascript" src="{{ url_for('static', filename='assets/js/vue.js') }}"></script>

<script language="javascript" src="{{ url_for('static', filename='assets/js/vue-resource.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/amazeui.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/app.js') }}?version=20170411"></script>

</head>
<body>

<!--在这里编写你的代码-->
<header id="head-line" class="am-topbar am-topbar-inverse admin-header" style="background-color:#223F66;">
    <div class="header">
        <div class="am-topbar-brand">
            <a href="{{config['CMDB_ALIYUN_URL']}}/home">
                <img src="{{ url_for('static', filename='assets/icon/za-logo-mini.png') }}" alt="logo"/>
            </a>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn head-btn" data-am-collapse="{target: '#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
        </button>
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse" style="min-width: 818px;">
        <ul id="accordion" class="am-nav am-nav-pills am-topbar-nav am-topbar-left admin-header-list nav-left">
            <li class="nav aliyun_nav" id="aliyun_nav" data-am-collapse="{parent: '#accordion', target: '#aliyun_dropdown_menu'}">
                <div href="#">
                    <span class="am-show-md-up">
                        <img class="am-show-md-up am-fr" src="{{ url_for('static', filename='assets/icon/app-icon-aliyun.png') }}" alt="logo"/>
                    </span>
                    <small><i class="nav-left-icon app-icon-aliyun"></i>阿里云<b>◢</b></small>
                </div>
            </li>
            <li class="nav app_nav" id="app_nav" data-am-collapse="{parent: '#accordion', target: '#app_dropdown_menu'}">
                <div href="#">
                    <span class="am-show-md-up">
                        <img class="am-show-md-up am-fr" src="{{ url_for('static', filename='assets/icon/nav-icon-ck.png') }}" alt="logo"/>
                    </span>
                    <small><i class="nav-left-icon app-icon-app"></i>应用仓库<b>◢</b></small>
                </div>
            </li>
            <li class="nav docker_nav" id="docker_nav" data-am-collapse="{parent: '#accordion', target: '#docker_dropdown_menu'}">
                <div href="#">
                  <span class="am-show-md-up" style="">
                      <img class="am-show-md-up am-fr" src="{{ url_for('static', filename='assets/icon/nav-icon-docker.png') }}" alt="logo"/>
                  </span>
                  <small><i class="nav-left-icon app-icon-docker"></i>Docker<b>◢</b></small>
                </div>
            </li>
        </ul>
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list nav-right">
            <li class="am-u-sm-3 am-u-md-3" id="admin_nav">
                <a href="#" class="am-btn">
                    <i class="am-header-icon am-icon-gear"></i>
                    <span class="am-header-nav-title">
                        管理
                    </span>
                </a>
            </li>
            <li v-if="has_unreaded" style="height:45px;width:170px;" class="am-hide-sm-only">
                <div class="am-popover am-popover-danger am-active am-popover-left" style="display: block; width:100%;top:5px;" >
                    <div class="am-popover-inner">
                        <a href="{{url_for('notification_list')}}">
                            <span class="am-icon-envelope"></span> ${n}
                        </a>
                    </div>
                    <div class="am-popover-caret"></div>
                </div>
            </li>
            <li v-if="has_unreaded" class="am-show-sm-only">
                <a href="{{url_for('notification_list')}}" class="am-btn">
                    <span class="am-header-nav-title">
                        <span class="am-icon-envelope"></span> ${n}
                    </span>
                </a>
            </li>
            <li class="am-u-sm-3 am-u-md-3" v-if="!has_unreaded">
                <a href="{{url_for('notification_list')}}" class="am-btn">
                    <i class="am-header-icon am-icon-envelope"></i>
                    <span class="am-header-nav-title">
                        通知
                    </span>
                </a>
            </li>
            <li class="am-u-sm-3 am-u-md-3">
                <a href="{{url_for('user_center')}}" class="am-btn">
                    <i class="am-header-icon am-icon-user"></i>
                    <span class="am-header-nav-title">
                         {{session.userInfo.get('real_name')}}
                    </span>
                </a>
            </li>
            <li class="am-u-sm-3 am-u-md-3">
                <a href="{{url_for('logout')}}" class="am-btn">
                    <i class="am-header-icon am-icon-power-off"></i>
                    <span class="am-header-nav-title">
                        退出
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>

{% block menu %}

{% endblock %}

{% block html %}

{% endblock %}

{% block css %}

{% endblock %}

<script language="JavaScript">
    // ES6 模板字符串
    Vue.config.delimiters = ['${', '}']
    // 修改文本插值的定界符。
    Vue.config.unsafeDelimiters = ['{!!', '!!}']
    // 修改原生 HTML 插值的定界符。

    user_show = {};
    {% for k,v in session['userPrivileges'].items() %}
    user_show['{{k}}'] = '{{v}}'
    {% endfor %}
    console.log(user_show)

    msg_data = {
        has_unreaded: false,
        n: ""
    }
    new Vue({
        el: '#head-line',
        data: msg_data
    })

    function check_msg(){
        jQuery.ajax({
            url: "{{url_for('notification_check')}}",
            data: {"r":Math.random()},
            dataType: "json",
            type: "GET",
            timeout : timeout,
            success: function(response) {
                unreaded = response.data.unreaded;

                if(unreaded>0){
                    msg_data.has_unreaded=true;
                    msg_data.n= "您有"+unreaded+"条未读通知"
                }else{
                    msg_data.has_unreaded=false;
                    msg_data.n=""
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                //be quite
            }
        });
    }

    check_msg();

</script>

{% block js %}

{% endblock %}

</body>
</html>