{% extends "framework/base_with_dropdown.html" %}

{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-cf"><strong class="am-text-primary am-text-lg">定时任务</strong> / <small>执行记录</small></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">记录列表</a></li>
                        <li><a href="#tab2">详细结果</a></li>
                    </ul>
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active" id="tab1">
                            <div class="am-input-group am-u-lg-3 am-u-sm-6">
                                <input id="login_date" type="text" class="am-form-field" placeholder="选择日期" data-am-datepicker="{theme: 'default'}" v-model="startAt" readonly>
                                <span class="am-input-group-btn">
                                    <button id="calendar" class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-calendar"></span> </button>
                                </span>
                            </div>

                            <div class="am-input-group am-u-lg-3 am-u-sm-6">
                                <input id="query" type="text" class="am-form-field" placeholder="名称" v-model="query">
                                <span class="am-input-group-btn">
                                    <button id="filter" class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                                </span>
                            </div>

                            <table class="am-table am-table-striped am-table-hover table-main" id="task_his_list">
                                <thead>
                                <tr>
                                    <th class="table-title am-hide-sm-only">计划名称</th>
                                    <th class="table-title am-hide-sm-only">计划ID</th>
                                    <th class="table-title">任务名称</th>
                                    <th class="table-title">开始</th>
                                    <th class="table-title">结束</th>
                                    <th class="table-title am-hide-sm-only">状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(key, line) in hislist">
                                        <td class="am-hide-sm-only schedule_name">${line.schedule_name}</td>
                                        <td class="am-hide-sm-only schedule_id">${line.schedule_id}</td>
                                        <td class="task_name">${line.task_name}</td>
                                        <td class="date_start">${line.date_start}</td>
                                        <td class="am-hide-sm-only date_done">${line.date_done}</td>
                                        <td class="">
                                           <a class="status" href="#" @click="show" v-bind:value="key">${line.status}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="am-cf">
                                共 <span id="total">${total}</span> 条记录
                                <div class="am-fr" id="paging">
                                    <ul class="am-pagination">
                                        <li v-bind:class="{ 'am-disabled': !hasPre}"><a id="pre" href="#" @click="prev">«</a></li>
                                        <template v-for="pagenum in pagenums">
                                            <li v-bind:class="{ 'am-active': now==pagenum}"><a class="paging" href="#" @click="go">${pagenum}</a></li>
                                        </template>
                                        <li v-bind:class="{ 'am-disabled': !hasNext}"><a id="next" href="#" @click="next">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="am-tab-panel" id="tab2">
                            <div id="pad" v-show="!showDetail">
                                <br>
                                请先选择记录...
                                <br>
                                <br>
                            </div>
                            <div id="detail" v-show="showDetail">
                                <h3 id="selected_task">计划任务[ID:${id}]的详细信息:</h3>
                                <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-centered" id="rp_list">
                                    <tbody>
                                        <tr>
                                            <td>计划名称</td>
                                            <td id="schedule_name">${schedule_name}</td>
                                        </tr>
                                        <tr>
                                            <td>计划ID</td>
                                            <td id="schedule_id">${schedule_id}</td>
                                        </tr>
                                        <tr>
                                            <td>任务名称</td>
                                            <td id="task_name">${task_name}</td>
                                        </tr>
                                        <tr>
                                            <td>开始时间</td>
                                            <td id="date_start">${date_start}</td>
                                        </tr>
                                        <tr>
                                            <td>结束时间</td>
                                            <td id="date_done">${date_done}</td>
                                        </tr>
                                        <tr>
                                            <td>状态</td>
                                            <td id="status">${status}</td>
                                        </tr>
                                        <tr>
                                            <td>参数(args)</td>
                                            <td id="args">${args}</td>
                                        </tr>
                                        <tr>
                                            <td>参数(kwargs)</td>
                                            <td id="kwargs">${kwargs}</td>
                                        </tr>
                                        <tr>
                                            <td>返回值</td>
                                            <td id="result">${result}</td>
                                        </tr>
                                        <tr>
                                            <td>Traceback</td>
                                            <td><pre id="traceback" class="am-pre-scrollable am-text-left">${traceback}</pre></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <div id="errorModal">
        <dialog v-bind:show.sync="show">
            <span slot="header">错误</span>
            <span slot="body">${msg}</span>
            <span slot="footer" class="am-modal-btn" @click="close">确定</span>
        </dialog>
    </div>

    <template id="dialog">
        <div>
            <div class="am-modal am-modal-alert" v-bind:class="{ 'am-modal-active': show }" tabindex="-1" v-if="show" style="display:block;">
                <div class="am-modal-dialog" style="width:300px;">
                    <div class="am-modal-hd">
                        <slot name="header"></slot>
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close @click="close">&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        <slot name="body"></slot>
                    </div>
                    <div class="am-modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            <div class="am-dimmer" data-am-dimmer v-bind:class="{ 'am-active': show }" v-if="show" style="display:block;"></div>
        </div>
    </template>

{% endblock %}

{% block js %}
<script language="JavaScript">

    data1 = {
        query: '',
        startAt: '',
        hislist: [],
        total: 0,
        pagenums: [],
        hasPre: true,
        hasNext: true,
        now: 1
    }
    new Vue({
        el: '#tab1',
        data: data1,
        methods: {
            prev: function(event){
                load_his_list(this.now*1-1);
            },
            go: function(event){
                load_his_list(event.target.innerHTML);
            },
            next: function(event){
                load_his_list(this.now*1+1);
            },
            filter: function(event){
                load_his_list(this.now);
            },
            show: function(event){
                id = $(event.target).attr("value")
                data2.id = data1.hislist[id].id;
                data2.schedule_name = data1.hislist[id].schedule_name;
                data2.schedule_id = data1.hislist[id].schedule_id;
                data2.task_name = data1.hislist[id].task_name;
                data2.date_start = data1.hislist[id].date_start;
                data2.date_done = data1.hislist[id].date_done;
                data2.status = data1.hislist[id].status;
                data2.showDetail = true;
                $("#tabs").tabs('open',1);
                load_detail()
            }
        }
    })

    data2 = {
        id: 0,
        schedule_name: '',
        schedule_id: '',
        task_name: '',
        date_start: '',
        date_done: '',
        status: '',
        args: '',
        kwargs: '',
        result: '',
        traceback: '',
        showDetail: false
    }
    new Vue({
        el: '#tab2',
        data: data2,
    })

    Vue.component('dialog', {
	    template: '#dialog',
	    props: {
	        show:{
	            type: Boolean,
	            default: false
	        }
	    },
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

	var errorModal = new Vue({
	    el: '#errorModal',
	    data: {
			show: false,
			msg: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

    $(document).ready(function() {

        load_his_list(data1.now);

    });
    function load_his_list(p){
        data1.now = p;
        $.AMUI.progress.start();
        console.log("start load task his list");
        jQuery.ajax({
            url: "{{url_for('task_his__his')}}",
            dataType: "json",
            data: {"p": p ,"query": data1.query ,"startAt":data1.startAt, "r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                data1.total = response.data.total;
                paging(response.data.prevNum, response.data.nextNum, response.data.total, response.data.perPage)
                data1.hislist = []
                response.data.hisList.forEach(function(e){
                    data1.hislist.push(e);
                });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
    function paging(prevNum, nextNum, total, perPage){
        totalPage = Math.ceil(total/perPage)
        data1.hasPre = prevNum>0;
        data1.hasNext = nextNum<=totalPage;

        offset = data1.now - 2
        offset = offset<(totalPage-4)?offset:(totalPage-4)
        offset = offset>0?offset:1
        showTotal = 5>totalPage?totalPage:5
        data1.pagenums = [];
        for(var i=offset;i<offset+showTotal;i++){
            data1.pagenums.push(i);
        }
    }
    function load_detail(){
        $.AMUI.progress.start();
        console.log("start load user list");
        jQuery.ajax({
            url: "{{url_for('task_his__his_detail')}}",
            dataType: "json",
            data: {"id": data2.id, "r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                if(response.result==1){
                    data2.args = response.data.args;
                    data2.kwargs = response.data.kwargs;
                    data2.result = response.data.result;
                    data2.traceback = response.data.traceback;
                }else{
                    errorModal.msg='没有找到记录。';
                    errorModal.show=true;
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
</script>
{% endblock %}
