{% extends "framework/base_with_dropdown.html" %}

{% block content %}
    <div class="admin-content-body" id="v-user-center">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户中心</strong></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
            <table class="am-table">
                <tbody>
                <tr>
                    <td>用户名</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>{{user.real_name}}</td>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>{{user.department.name}}</td>
                </tr>
                <tr>
                    <td>角色</td>
                    <td>{{user.role.alias}}</td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td>{{user.phone}}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{user.email}}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div>如需要修改以上信息，请邮件联系core@zhongan.com</div>
            </div>
        </div>
    </div>
{% endblock %}