/* Write your styles */

.nav
{
    background: #555;
    border-left: solid 3px;
}

.nav_active
{
    border-bottom: solid;
    border-bottom-color: #00c1de;
}

.nav:hover
{
    border-bottom: solid;
    border-bottom-color: #00c1de;
}

.dropdown_menu
{
	background:#2E363F;
	filter:alpha(Opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;
	width:300px;
	margin-left:80px;
	padding:20px;
	color:#eee;
	font-size:1.4em;
	line-height:1.5;
	position:absolute;
	z-index:1600;
	overflow-y:auto;
	max-height:800px;
}

.dropdown_menu div div.title
{
    border-bottom:solid 1px;
    border-bottom-color:#999;
    padding:5px;
}

.dropdown_menu div div.item
{
    margin-left:30px;
    border-bottom:solid 1px;
    border-bottom-color:#999;
    padding:5px;
}

.dropdown_menu div div.item:hover
{
    background:#272727;
}

.dropdown_menu a
{
    color:white;
}

.main-menu-item a:hover
{
    background:blue;
}

[v-cloak] { display:none; }

.d2h-code-side-linenumber,
.d2h-code-side-linenumber:before,
.d2h-code-side-linenumber:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}