{% extends "framework/frame.html" %}

{% block manual %}
<a href="{{url_for('baseProfile.manual_explain')}}#n0" style="font-size:18px;">
    <span class="am-header-nav-title">
        <i class="am-header-icon am-icon-compass am-icon-sm am-icon-spin" style="color:red;"></i>
        操作指南
    </span>
</a>
{% endblock %}

{% block content %}

    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户与权限</strong> / <small>用户</small></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12" id="v-user-list">

                <div class="am-input-group am-u-lg-3 am-u-sm-6">
                    <input id="query" type="text" class="am-form-field" placeholder="用户名或姓名" v-model="query">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                    </span>
                </div>

                <div class="am-form am-input-group am-u-lg-3 am-u-sm-6">
                    <select v-model="role_id">
                        <option value="">请选择角色</option>
                        <option v-for="line in role_list" :value="line.id">${line.alias}</option>
                    </select>
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                    </span>
                </div>

                <table class="am-table am-table-striped am-table-hover table-main" id="user_list">
                    <thead>
                        <tr>
                            <th class="table-id">ID</th>
                            <th class="table-title">用户名</th>
                            <th class="table-title">姓名</th>
                            <th class="table-title am-hide-sm-only">角色</th>
                            <th class="table-title am-hide-sm-only">有效</th>
                            <th class="table-title am-hide-sm-only">登陆数</th>
                            <th class="table-set">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(line, key) in userlist">
                            <td>${line.id}</td>
                            <td>${line.name}</td>
                            <td>${line.real_name}</td>
                            <td class="am-hide-sm-only">${line.role_alias}</td>
                            <td class="am-hide-sm-only">${line.enabled}</td>
                            <td class="am-hide-sm-only">${line.login_count}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary" @click="edit" v-bind:value="key"><span class="am-icon-pencil-square-o am-icon-fw" v-bind:value="key"></span> 编辑</button>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" @click="disable" v-bind:value="key" v-if="line.enabled"><span class="am-icon-trash-o am-icon-fw" v-bind:value="key"></span> 屏蔽</button>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" @click="enable" v-bind:value="key" v-if="!line.enabled"><span class="am-icon-trash-o am-icon-fw" v-bind:value="key"></span> 恢复</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="am-cf">
                    共 <span id="total">${total}</span> 条记录
                    <div class="am-fr" id="paging">
                        <ul class="am-pagination">
                            <li v-bind:class="{ 'am-disabled': !hasPre}"><a id="pre" href="#" @click="prev">«</a></li>
                            <template v-for="pagenum in pagenums">
                                <li v-bind:class="{ 'am-active': now==pagenum}"><a class="paging" href="#" @click="go">${pagenum}</a></li>
                            </template>
                            <li v-bind:class="{ 'am-disabled': !hasNext}"><a id="next" href="#" @click="next">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

{% endblock %}
{% block html %}

    <div id="editUserModal">
        <form id="editUserForm" action="" class="am-form">
            <modal :show="show" v-on:close="close">
                <span slot="header">编辑用户</span>
                <div slot="body">
                    <fieldset>
                            <div class="am-form-group">
                                <input type="text" minlength="3" :value="editUserName"
                                       disabled="disabled"/>
                            </div>
                            <div class="am-form-group">
                                <select required v-model="editRoleId">
                                    <option value="">选择角色</option>
                                    <option v-for="role in roles" :value="role.id">${role.alias}</option>
                                </select>
                                <span class="am-form-caret"></span>
                            </div>
                    </fieldset>
                </div>
                <button slot="footer" class="am-btn am-btn-link" type="submit">确定</button>
            </modal>
        </form>
    </div>

{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='assets/js/sha-1.js') }}"></script>
<script language="JavaScript">

    data = {
        query: '',
        role_id: '',
        role_list: [],
        userlist: [],
        total: 0,
        pagenums: [],
        hasPre: true,
        hasNext: true,
        now: 1
    }

    new Vue({
        el: '#v-user-list',
        data: data,
        methods: {
            prev: function(event){
                load_user_list(this.now*1-1);
            },
            go: function(event){
                load_user_list(event.target.innerHTML);
            },
            next: function(event){
                load_user_list(this.now*1+1);
            },
            filter: function(event){
                load_user_list(1);
            },
            edit: function(event){
                id = $(event.target).attr("value")
                editUserModal.editUserId = data.userlist[id].id
                editUserModal.editUserName = data.userlist[id].name
                editUserModal.editRoleId = data.userlist[id].role_id
                editUserModal.editUserEnabled = data.userlist[id].enabled
                editUserModal.show = true;
            },
            disable: function(event){
                id = $(event.target).attr("value")
                userId = data.userlist[id].id
                if(confirm("确认屏蔽用户吗？")){
                    delete_user(userId,0)
                }
            },
            enable: function(event){
                id = $(event.target).attr("value")
                userId = data.userlist[id].id
                if(confirm("确认恢复用户吗？")){
                    delete_user(userId,1)
                }
            }
        }
    })

	var editUserModal = new Vue({
	    el: '#editUserModal',
	    data: {
            show: false,
            editUserId: 0,
            editUserName: '',
            editRoleId: 0,
            roles: []
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

    $(document).ready(function() {

        //手工展开对应的主菜单
        $("#sub-menu-user").collapse('open')

        load_user_list(data.now);
        load_role_list();

        $('#editUserForm').validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if(formValidity ){
                    // 验证成功的逻辑
                    user_id = editUserModal.editUserId;
                    role_id = editUserModal.editRoleId;
                    editUserModal.show=false;
                    edit_user(user_id, role_id);
                }
                return false;
            }
        });
    });
    function edit_user(user_id, role_id){
        $.AMUI.progress.start();
        console.log("start edit user");
        jQuery.ajax({
            url: "{{url_for('baseProfile.admin_user__user')}}",
            dataType: "json",
            data: {"id": user_id, "roleId":role_id, "r":Math.random()},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                load_user_list(data.now);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }

    function load_user_list(p){
        data.now = p;
        $.AMUI.progress.start();
        console.log("start load user list");
        jQuery.ajax({
            url: "{{url_for('baseProfile.admin_user__user')}}",
            dataType: "json",
            data: {"p": p ,"query": data.query, "role_id": data.role_id, "r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                data.total = response.data.total;
                paging(response.data.prevNum, response.data.nextNum, response.data.total, response.data.perPage)
                data.userlist = []
                response.data.userList.forEach(function(e){
                    data.userlist.push(e);
                });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
    function load_role_list(){
        console.log("start load role list");
        jQuery.ajax({
            url: "{{url_for('baseProfile.admin_user__role')}}",
            dataType: "json",
            data: {"r":Math.random()},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                response.data.forEach(function(e){
                    editUserModal.roles.push(e);
                    data.role_list.push(e);
                });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
    function paging(prevNum, nextNum, total, perPage){
        totalPage = Math.ceil(total/perPage)
        data.hasPre = prevNum>0;
        data.hasNext = nextNum<=totalPage;

        offset = data.now - 2
        offset = offset<(totalPage-4)?offset:(totalPage-4)
        offset = offset>0?offset:1
        showTotal = 5>totalPage?totalPage:5
        data.pagenums = [];
        for(var i=offset;i<offset+showTotal;i++){
            data.pagenums.push(i);
        }
    }
    function delete_user(user_id,enabled){
        $.AMUI.progress.start();
        console.log("start delete user");
        jQuery.ajax({
            url: "{{url_for('baseProfile.admin_user__user')}}",
            dataType: "json",
            data: {"id": user_id, "enabled":enabled, "r":Math.random()},
            type: "DELETE",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                load_user_list(data.now);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
</script>
{% endblock %}