{% extends "framework/base_with_dropdown.html" %}

{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-cf"><strong class="am-text-primary am-text-lg">Kubernetes</strong> / <small>Node</small></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12" id="list">

                <div class="am-input-group am-u-lg-2 am-u-sm-4">
                    <select multiple data-am-selected id="org-selected">
                        <option value="ZA" selected>众安保险</option>
                        <option value="ZATECH" selected>众安科技</option>
                        <option value="BAOYUN" selected>豹云</option>
                        <option value="YIYUAN" selected>宜员</option>
                        <option value="WX" selected>威寻</option>
                        <option value="ZAZJ" selected>众安经纪</option>
                        <option value="XD" selected>众安小贷</option>
                    </select>
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                    </span>
                </div>

                <div class="am-input-group am-u-lg-2 am-u-sm-4">
                    <select multiple data-am-selected id="env-selected">
                        <option value="prd" selected>生产</option>
                        <option value="pre" selected>预发</option>
                        <option value="test" selected>测试</option>
                    </select>
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                    </span>
                </div>

                <div class="am-input-group am-u-lg-2 am-u-sm-4">
                    <input id="cluster_name" type="text" class="am-form-field" placeholder="Cluster名称" v-model="cluster_name">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                    </span>
                </div>

                <div class="am-input-group am-u-lg-2 am-u-sm-4">
                    <input id="query" type="text" class="am-form-field" placeholder="ID, 名称, IP" v-model="query">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" @click="filter"><span class="am-icon-search"></span> </button>
                    </span>
                </div>

                <div class="am-input-group am-u-lg-1 am-u-sm-1">
                    <span class="am-input-group-btn">
                        <a class="am-btn am-btn-default" @click="export"><span class="am-icon-file-excel-o"></span> 导出</a>
                    </span>
                </div>

                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-title am-hide-sm-only" @click="sort('id')" >
                            <a href="#" title="点击排序">ID</a>
                            <span v-if="orderby=='id'">
                                <i v-if="!orderdesc" class="am-icon-sort-asc"></i>
                                <i v-if="orderdesc" class="am-icon-sort-desc"></i>
                            </span>
                        </th>
                        <th class="table-title am-hide-sm-only" @click="sort('host_id')" >
                            <a href="#" title="点击排序">宿主机</a>
                            <span v-if="orderby=='host_id'">
                                <i v-if="!orderdesc" class="am-icon-sort-asc"></i>
                                <i v-if="orderdesc" class="am-icon-sort-desc"></i>
                            </span>
                        </th>
                        <th class="table-title am-hide-sm-only" @click="sort('name')" >
                            <a href="#" title="点击排序">名称</a>
                            <span v-if="orderby=='name'">
                                <i v-if="!orderdesc" class="am-icon-sort-asc"></i>
                                <i v-if="orderdesc" class="am-icon-sort-desc"></i>
                            </span>
                        </th>
                        <th class="table-title" @click="sort('ip')" >
                            <a href="#" title="点击排序">IP</a>
                            <span v-if="orderby=='ip'">
                                <i v-if="!orderdesc" class="am-icon-sort-asc"></i>
                                <i v-if="orderdesc" class="am-icon-sort-desc"></i>
                            </span>
                        </th>
                        <th class="table-title">配置</th>
                        <th class="table-title">公司</th>
                        <th class="table-title">环境</th>
                        <th class="table-title">Cluster</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="line in node_list">
                            <td>
                                <a target="_blank" href="{{url_for('k8s_node_detail')}}?node_id=${line.id}">
                                    ${line.id}
                                </a>
                            </td>
                            <td><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/ecs/detail?ecs_id=${line.host_id}">${line.host_id}</a></td>
                            <td>${line.name}</td>
                            <td>${line.ip}</td>
                            <td>
                                ${line.cpu} CPU<br>
                                ${line.memory}
                            </td>
                            <td>${line.org|get_org_name}</td>
                            <td>${line.env|get_env_name}</td>
                            <td><span v-if="line.cluster">${line.cluster.name}</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="am-cf">
                    共 <span id="total">${total}</span> 条记录
                    <div class="am-fr" id="paging">
                        <ul class="am-pagination">
                            <li v-bind:class="{ 'am-disabled': !hasPre}"><a id="pre" href="#" @click="first">«</a></li>
                            <template v-for="pagenum in pagenums">
                                <li v-bind:class="{ 'am-active': now==pagenum}"><a class="paging" href="#" @click="go">${pagenum}</a></li>
                            </template>
                            <li v-bind:class="{ 'am-disabled': !hasNext}"><a id="next" href="#" @click="last">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

{% endblock %}

{% block html%}

    <div id="errorModal">
        <dialog v-bind:show.sync="show">
            <span slot="header">错误</span>
            <span slot="body">${msg}</span>
            <span slot="footer" class="am-modal-btn" @click="close">确定</span>
        </dialog>
    </div>

    <template id="dialog">
        <div>
            <div class="am-modal am-modal-alert" v-bind:class="{ 'am-modal-active': show }" tabindex="-1" v-if="show" style="display:block;">
                <div class="am-modal-dialog" style="width:300px;">
                    <div class="am-modal-hd">
                        <slot name="header"></slot>
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close @click="close">&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        <slot name="body"></slot>
                    </div>
                    <div class="am-modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            <div class="am-dimmer" data-am-dimmer v-bind:class="{ 'am-active': show }" v-if="show" style="display:block;"></div>
        </div>
    </template>

{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script language="JavaScript">

    data = {
        query: '',
        cluster_name: '',
        env: '',
        org: '',
        orderby: 'id',
        orderdesc: true,
        node_list: [],
        total: 0,
        totalPage: 0,
        pagenums: [],
        hasPre: true,
        hasNext: true,
        now: 1
    }

    new Vue({
        el: '#list',
        data: data,
        methods: {
            first: function(event){
                load_node_list(1);
            },
            go: function(event){
                load_node_list(event.target.innerHTML);
            },
            last: function(event){
                load_node_list(data.totalPage);
            },
            filter: function(event){
                this.now = 1
                load_node_list(this.now);
            },
            export: function(event){
                env = $('#env-selected').val().join("+");
                window.location.href="{{url_for('k8s_node_export')}}?query="+
                encodeURIComponent(data.query)+"&env="+env+"&cluster_name="+cluster_name+"&order_by="+data.orderby+"&order_desc="+data.orderdesc
            },
            sort: function(orderby){
                if(data.orderby == orderby){
                    data.orderdesc = !data.orderdesc
                }else{
                    data.orderby = orderby
                }
                load_node_list(this.now);
            }
        }
    })

    Vue.component('dialog', {
	    template: '#dialog',
	    props: {
	        show:{
	            type: Boolean,
	            default: false
	        }
	    },
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

	var errorModal = new Vue({
	    el: '#errorModal',
	    data: {
			show: false,
			msg: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

    $(document).ready(function() {

        load_node_list(data.now);

    });
    function load_node_list(p){
        data.now = p;
        data.env = $('#env-selected').val().join("+");
        data.org = $('#org-selected').val().join("+");
        $.AMUI.progress.start();
        console.log("start load engine list");
        jQuery.ajax({
            url: "{{url_for('k8s_node')}}",
            dataType: "json",
            data: {"p": p ,"query": data.query ,"env":data.env, "org":data.org, "cluster_name":data.cluster_name, "order_by":data.orderby,"order_desc":data.orderdesc},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                data.total = response.data.total;
                paging(response.data.prevNum, response.data.nextNum, response.data.total, response.data.perPage)
                data.node_list = []
                response.data.nodeList.forEach(function(e){
                    data.node_list.push(e);
                });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
    function paging(prevNum, nextNum, total, perPage){
        totalPage = Math.ceil(total/perPage)
        data.totalPage = totalPage
        data.hasPre = prevNum>0;
        data.hasNext = nextNum<=totalPage;

        offset = data.now - 2
        offset = offset<(totalPage-4)?offset:(totalPage-4)
        offset = offset>0?offset:1
        showTotal = 5>totalPage?totalPage:5
        data.pagenums = [];
        for(var i=offset;i<offset+showTotal;i++){
            data.pagenums.push(i);
        }
    }
</script>

{% endblock %}