{% extends "framework/base_with_dropdown.html" %}

{% block content %}
    <div class="admin-content-body" id="main" style="word-break:break-all;">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-cf">
                <strong class="am-text-primary am-text-lg">Kubernetes</strong> / <small>Node</small> / <small>详情</small>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-u-sm-12 am-u-md-4">
                    <div class="am-panel am-panel-default">
                        <table class="am-table">
                            <tbody>
                            <tr>
                                <td colspan="2">ID</td>
                                <td>{{base.id}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">宿主机</td>
                                <td><a href="{{config['CMDB_ALIYUN_URL']}}/aliyun/ecs/detail?ecs_id={{base.host_id}}">{{base.host_id}}</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">名称</td>
                                <td>{{base.name}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">IP</td>
                                <td>{{base.ip}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">CPU</td>
                                <td>
                                    {{base.cpu}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">内存</td>
                                <td>
                                    {{base.memory}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">公司</td>
                                <td>
                                    {{base.org}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">环境</td>
                                <td>
                                    {{base.env|get_env_name}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Cluster</td>
                                <td>
                                    {% if base.cluster %}
                                    <a href="{{url_for('k8s_cluster_detail')}}?id={{base.cluster.id}}">{{base.cluster.name}}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">创建时间</td>
                                <td>
                                    {{base.create_at}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Kubernetes版本</td>
                                <td>
                                    {%if info%}{{info.systeminfo.kubeletVersion}}{%else%}-{%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">容器版本</td>
                                <td>
                                    {%if info%}{{info.systeminfo.containerRuntimeVersion}}{%else%}-{%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">操作系统</td>
                                <td>
                                    {%if info%}{{info.systeminfo.osImage}}{%else%}-{%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">内核版本</td>
                                <td>
                                    {%if info%}{{info.systeminfo.kernelVersion}}{%else%}-{%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Pod数量</td>
                                <td>
                                    {%if pods%}{{pods|length}}{%else%}-{%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">镜像数量</td>
                                <td>
                                    {%if info%}{{info.node_images|length}}{%else%}-{%endif%}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-8">
                    <div class="am-panel am-panel-default" id="image-panel">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#image-panel', target: '#image-panel-bd'}">
                                Images
                                <span class="am-badge am-badge-primary am-round">数量: {%if info%}{{info.node_images|length}}{%else%}-{%endif%}</span>
                                <span class="am-fr am-icon-chevron-down"></span>
                            </h4>
                        </div>
                        <div class="am-panel-collapse am-collapse" id="image-panel-bd">
                            <div class="am-panel-bd">
                                <table class="am-table">
                                    <thead><tr>
                                        <th>Name</th>
                                        <th width="10%">Size</th>
                                    </tr></thead>
                                    <tbody>
                                        {%if info%}{% for line in info.node_images %}
                                        <tr>
                                            <td>{{line.names[-1]}}</td>
                                            <td>
                                                {{line.size_mbytes}}
                                            </td>
                                        </tr>
                                        {% endfor %}{%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-8">
                    <div class="am-panel am-panel-default" id="pod-panel">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#pod-panel', target: '#pod-panel-bd'}">
                                Pod
                                <span class="am-badge am-badge-primary am-round">数量: {%if pods%}{{pods|length}}{%else%}-{%endif%}</span>
                                <span class="am-fr am-icon-chevron-down"></span>
                            </h4>
                        </div>
                        <div class="am-panel-collapse am-collapse am-in" id="pod-panel-bd">
                            <div class="am-panel-bd">
                                <table class="am-table">
                                    <thead><tr>
                                        <th>Name</th>
                                        <th>Pod IP</th>
                                        <th>容器</th>
                                        <th>状态</th>
                                    </tr></thead>
                                    <tbody>
                                        {%if pods%}{% for line in pods %}
                                        <tr>
                                            <td>{{line.name}}</td>
                                            <td>{{line.pod_ip}}</td>
                                            <td>
                                                {%for c in line.containers%}
                                                <div class="am-badge">{{c.name}}</div>
                                                {%endfor%}
                                            </td>
                                            <td><span class="am-badge am-badge-primary">{{line.status}}</span></td>
                                        </tr>
                                        {% endfor %}{%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


{% endblock %}

{% block html %}

    <div id="errorModal">
        <dialog v-bind:show.sync="show">
            <span slot="header">提示</span>
            <span slot="body">${msg}</span>
            <span slot="footer" class="am-modal-btn" @click="close">确定</span>
        </dialog>
    </div>

    <template id="dialog">
        <div>
            <div class="am-modal am-modal-alert" v-bind:class="{ 'am-modal-active': show }" tabindex="-1" v-if="show" style="display:block;z-index: 1501;">
                <div class="am-modal-dialog" style="width:350px;">
                    <div class="am-modal-hd">
                        <slot name="header"></slot>
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close @click="close">&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        <slot name="body"></slot>
                    </div>
                    <div class="am-modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            <div class="am-dimmer" data-am-dimmer v-bind:class="{ 'am-active': show }" v-if="show" style="display:block;"></div>
        </div>
    </template>
{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script language="JavaScript">
    data = {
        user_show: user_show
    }

    new Vue({
        el: '#main',
        data: data,
        methods: {
        }
    });

    Vue.component('dialog', {
	    template: '#dialog',
	    props: {
	        show:{
	            type: Boolean,
	            default: false
	        }
	    },
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})
    var errorModal = new Vue({
	    el: '#errorModal',
	    data: {
			show: false,
			msg: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	});

    $(document).ready(function() {

    });
</script>
{% endblock %}
